.footer-container {
  background-color: hsl(168, 34%, 41%);
  margin-top: 0;
}

.pic-gallery {
  width: 100%;
}

.footer-img {
  float: left;
  width: 25%;
}

.footer-logo {
  margin: 5% auto 0;
}

.footer-logo g {
  fill: hsl(168, 34%, 41%);
}
.footer-menu {
  margin: 5% auto;
  text-align: center;
  color: hsl(167, 40%, 24%);
  display: inline-block;
}

.social-icons {
  margin: 1%;
  fill: hsl(168, 34%, 41%);
}
