.footer-container {
  background-color: hsl(168, 34%, 41%);
  margin-top: 0;
}

.pic-gallery {
  margin: 0;
  padding: 0;
  width: 100%;
}

.pic-item {
  float: left;
  width: 25%;
  height: 25%;
  margin: 0;
  padding: 0;
}

.footer-logo {
  margin: 5% auto 0;
  /* filter: invert(30%) sepia(8%) saturate(2280%) hue-rotate(116deg)
    brightness(93%) contrast(93%); */
}

.footer-menu {
  margin: 5% auto;
  text-align: center;
  color: hsl(167, 40%, 24%);
  display: inline-block;
}

.social-icons {
  margin: 1%;
}
