.test-title {
  margin: 10% auto;
}

.test-container {
  margin: 10% auto;
}
.testimonial-item {
  width: 33.33%;
  float: left;
  /* padding: 0 0.5rem 0 0.5rem; */
  margin-bottom: 5%;
}

.avatar {
  border-radius: 50%;
  width: 50%;
}

.username {
  margin: bottom 0;
}
