.App {
  text-align: center;
}

.background {
  background-image: url("./images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.header-menu {
  float: right;
}

.logo {
  float: left;
}

.slogan {
  color: white;
  margin: 5% auto;
}
.arrow {
  margin-bottom: 15%;
}
